<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'submit_review' link_id %}">
        {% csrf_token %}
        
        <h3>Course Name: {{course.name}} At {{university}}</h3>
        
        
        <label for="rating">Rating:</label>
        <input type="range" id="rating" name="rating" min="1" max="5" step="0.5" value="3">
        <div class="rating-value" id="rating-value">3</div>
        
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" rows="4"></textarea>
        
        <button type="submit">Submit Review</button>
    </form>
    
    <script>
        // JavaScript to update the displayed rating value
        document.getElementById('rating').addEventListener('input', function() {
            document.getElementById('rating-value').textContent = this.value;
        });
    </script>
    

</body>
</html>